@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-50: #fafafa;
  --color-gray-200: #e5e5e5;
  --color-gray-500: #737373;

  --font-serif: "Bodoni Moda", serif;
  --font-sans: "Inter", sans-serif;
}
